{% extends 'base.html' %}
{% load static %}

{% block title_block %}
    COVID-19 Africa Admin
{% endblock %}

{% block body_block %}

<h1>Welcome to the Admin Panel</h1>

<div id="FAQs">
    <table>
        <thead>
            <tr>
                <th>Question</th>
                <th>Answer</th>
            </tr>
        </thead>
        <tbody>
            {% for faq in faqs %}
            <tr>
                <td contenteditable='true' data-id="q-{{faq.slug}}"><p>{{ faq.question }}</p></td>
                <td contenteditable='true' data-id="a-{{faq.slug}}"><p>{{ faq.answer }}</p></td>
                <td>
                    <button value="{{ faq.question }}" defined_slug='{{faq.slug}}' onclick="updateQuestion(this)">
                        <p>Update</p>
                    </button>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<script>

    /* Taken from https://docs.django.com/en/3.1/ref/csrf/#ajax */
    function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }

    function updateQuestion(question_to_update) {
        relevant_faq = $(question_to_update);
        slug_of_q = relevant_faq.attr('defined_slug');
        const csrf_token = getCookie("csrftoken");
        editedQuestion = $('[data-id=q-'+slug_of_q+']')
        editedAnswer = $('[data-id=a-'+slug_of_q+']')

        $.ajax({
            headers: { "X-CSRFToken": csrf_token },
            url: "{% url 'dashboard:update_faq' %}",
            method: "POST",
            dataType: "json",
            data: {"question": editedQuestion.text(), "answer": editedAnswer.text(), "slug": slug_of_q},
            success: function(response) {
                $(editedQuestion).attr('data-id', "q-"+response.new_slug);
                $(editedAnswer).attr('data-id', "a-"+response.new_slug);
                $(relevant_faq).attr('defined_slug', response.new_slug);
            },
            error: function() {
                alert("Error when updating FAQ. Please try again.");
            }
        });
    }
</script>

{% endblock %}