{% extends 'base.html' %}
{% load static %}

{% block title_block %}
    COVID-19 Africa Dashboard
{% endblock %}

{% block body_block %}

<article id="choropleth" class="graph">

</article>

<table id="all-countries-table" class="table table-striped display">

</table>


<article id="average-cases" class="graph">

</article>

<script>

let dataRequest2 = new Request('{% url 'dashboard:get_summary_data' %}');
const request2 = fetch(dataRequest2, {
        method: 'GET',
        mode: 'same-origin',
        cache: 'default'
    }).then((response) => {
        if (response.ok) {
            response.json().then((content) => {
                create_summary_table(content);
            });
        } else {
            console.log("Failed to retrieve COVID-19 data.");
        }
    }
);



function create_summary_table(summaryContent) {
    var dataset = summaryContent;
    $(document).ready(function() {
        $('#all-countries-table').DataTable( {
            "scrollY":        "200px",
            "scrollCollapse": true,
            "paging":         false,
            "data": dataset,
            "columns": [
                { "title": "Country" },
                { "title": "Cases" },
                { "title": "New Cases" },
                { "title": "Deaths" },
                { "title": "New Deaths" },
                { "title": "Vaccinated" },
                { "title": "New Vaccinations" },
            ]
        } );
    } );
}

let dataRequest = new Request('{% url 'dashboard:get_covid_data' %}');
const request = fetch(dataRequest, {
        method: 'GET',
        mode: 'same-origin',
        cache: 'default'
    }).then((response) => {
        if (response.ok) {
            response.json().then((content) => {
                draw_average_cases(content);
                draw_map(content);
            });
        } else {
            console.log("Failed to retrieve COVID-19 data.");
        }
    }
);

     google.charts.load('current', {
        'packages':['geochart'],
        'mapsApiKey': 'AIzaSyD-9tSrke72PouQMnMX-a7eZSW0jkFMBWY'
      });
      google.charts.setOnLoadCallback(drawRegionsMap);

      function drawRegionsMap() {
        var data = google.visualization.arrayToDataTable([


         ['Country',   'Covid Cases in a day','Deaths in a Day'],
          ['Algeria', 526,23], ['Angola', 8,1], ['Benin', 6,0], ['Botswana', 0,0],
          ['Burkina Faso', 11,1], ['Burundi', 19,0], ['Cameroon', 3,0],
          ['Canary Islands', 18,1], ['Cape Verde', 22,1],
          ['Central African Republic', 33,2], ['Ceuta', 35,0], ['Chad', 14,0],
          ['Comoros', 27,0], ['Cote d\'Ivoire', 16,0],
          ['Democratic Republic of the Congo', 3,3], ['Djibouti', 12,3],
          ['Egypt', 126,4], ['Equatorial Guinea', 13,0], ['Eritrea', 5,0],
          ['Ethiopia', 99,2], ['Gabon', 0,0], ['Gambia', 13,1], ['Ghana', 15,0],
          ['Guinea', 16,0], ['Guinea-Bissau', 12,0], ['Kenya', 37,3],
          ['Lesotho', 4,0], ['Liberia', 6,0], ['Libya', 44,1], ['Madagascar', 0,0],
          ['Madeira', 3,0], ['Malawi', 14,0], ['Mali', 12,0], ['Mauritania', 18,0],
          ['Mauritius', 0,0], ['Mayotte', 2,0], ['Melilla', 0,0],
          ['Morocco', 634,12], ['Mozambique', 50,0], ['Namibia', 0,0],
          ['Niger', 4,0], ['Nigeria', 38,3], ['Republic of the Congo', 14,1],
          ['Réunion', 0,0], ['Rwanda', 5,0], ['Saint Helena', 6,0],
          ['São Tomé and Principe', 0,0], ['Senegal', 42,3],
          ['Seychelles', 265,4], ['Sierra Leone', 4,0], ['Somalia', 2,0],
          ['Sudan', 13,0], ['South Africa', 1649,41], ['South Sudan', 5,0],
          ['Swaziland', 16,0], ['Tanzania', 206,2], ['Togo', 16,3], ['Tunisia', 34,3],
          ['Uganda', 59,0], ['Western Sahara', 23,0], ['Zambia', 209,4],
          ['Zimbabwe', 82,0]
        ]);

		var options = {
          region: '002', 
          colorAxis: {colors: ['#397D02', '#FFBF00', '#D0312D']},
          backgroundColor: '#ffffff',
          datalessRegionColor: '#fffff',
          defaultColor: '#397D02',
        };

        var chart = new google.visualization.GeoChart(document.getElementById('geochart-colors'));
        chart.draw(data, options);
      };

function draw_average_cases(content) {
    var location_cases = {};
    var dates = [];
    var last_date = undefined;

    content.forEach((row) => {
        var location_ = row[0];
        var datestamp = row[1];
        var n_cases = row[2];

        var cur_location = location_cases[location_];
        if (cur_location === undefined) {
            location_cases[location_] = {
                name: location_,
                data: [n_cases],
            };
        } else {
            cur_location.data.push(n_cases);
        }

        if (datestamp != last_date) {
            last_date = datestamp;
            dates.push(datestamp);
        }
    });

    Highcharts.chart('average-cases', {
        title: {
            text: 'Average Number of New Cases per Week',
        },
        chart: {
            height: 600,
        },
        xAxis: {
            categories: dates,
            type: 'datetime',
            labels: {
                format: '{value:%Y-%m-%d}',
            },
        },
        yAxis: {
            title: {
                text: 'Number of New Cases',
            },
            min: 0,
        },
        tooltip: {
            formatter: function () {
                return this.x + '<br>' + this.series.name +
                        ': <b>' + this.y.toLocaleString() + '</b> cases</br>';
            },
        },
        plotOptions: {
            line: {
                marker: {
                    enabled: false,
                }
            }
        },
        legend: {
            title: 'Location',
            align: 'right',
        },
        series: Object.values(location_cases),
    });
}
</script>

{% endblock %}
